header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  padding: 20px 20px;
}

header ul {
  list-style: none;
  display: flex;
  padding: 10px 20px;
}

header ul li button {
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background: none;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
  }

  header h2 {
    padding-bottom: 10px;
  }
}
