@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

.container {
  margin: 10px 30px;
}

.reparos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
  /* width: 400px; */
  border: #ccc solid 1px;
  border-radius: 5px;
  height: auto;
}

.card img {
  width: 100%;
}

.card .text {
  padding: 5px 10px;
}

.hr {
  border-top: 1px solid #ddd;
  margin: 3px 0;
}

.link,
.link:hover,
.link:visited {
  text-decoration: none;
}

@media (max-width: 500px) {
  .reparos {
    grid-template-columns: 1fr;
  }
}
